$negro:rgb(20, 18, 18);
$box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$gris:gainsboro;
.margin {
    margin:20px;
}
.centro {
    display: block;
    margin: auto;
}
.boxA {
    background-color: $gris;
    width: 500px;
    height: 400px;
    padding:25px;
}
.boxA:hover {
    transform: scale(1.2,1.2);
    box-shadow: $box-shadow;
    margin-bottom: 40px;
    margin-top: 40px;
}
.boxB {
    background-color: $gris;
    width: fit-content;
    height: fit-content;
    padding:10px;
}
.chef {
    &__img {
        display: block;
        margin: auto;
    }
    &__name {
        text-align: center;
        font-family: $chefName;
        color: $negro;
        &--text {
            font-family: $chefText;
            font-size:20px;
            width: 320px;
            height: 200px;
        }
    }
}
