.box {
    background-color: gainsboro;
    width: fit-content;
    height: fit-content;
    padding:30px;
}
.control {
    font-family: $itemFont;
    width: 300px;
    margin:15px;
    padding: 10px;
}
.normasCovid {
    margin:20px;
    text-align: center;
    font-family: $itemFont;
}
.listaCovid {
    text-transform: uppercase;
    font-family: $loraFont;
}
.listaCovid li {
    padding: 10px;
}
.checkbox {
    margin:20px;
    text-transform: uppercase;
    font-family: $loraFont;
}
.boton {
    width: 300px;
    margin:15px;
    padding: 10px;
}
.boton:hover {
    background-color: $rojo;
    color:white;
    border: $rojo;
    width: 350px;
    height: 80px;
}