@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
$cursiva: 'Homemade Apple', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
$loraFont: 'Lora', serif;
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
$itemFont: 'Bad Script', cursive;