/*css general*/
*{margin:0; padding:0; box-sizing: border-box;}
body {
    background-color: $fondo;
}
.margin {
    margin:20px;
}
.margin_top {
    margin-top: 50px;
}
.centro {
    display: block;
    margin: auto;
}

// comidas
.titulo {
    margin-top: 70px;
    font-family: $cursiva;
}
.tituloComidas {
    margin:15px;
    font-family: $loraFont;
    text-transform: uppercase;
}
h4 {
    font-family: $itemFont;
}
p {
    font-family: $loraFont;
}
ul {
    list-style: none;
}
