@import "colores";
@import "fuentes";
*{margin:0; padding:0; box-sizing: border-box;}

/*css general*/
body {
    background-color: rgb(243, 241, 241);
}

// index
.tituloIndex {
    font-family: $cursiva;
}
.listaBotonIndex {
    columns: 2;
    -webkit-columns: 2s;
    -moz-columns: 2;    

}
#botonIndex {
    background-color: $rojo;
    width: 120px;
    margin: 10px;
}
#botonIndex a {
    color: white;
    text-decoration: none;
}
#botonIndex:hover {
    background-color: white;

} 
#botonIndex a:hover {
    color:$rojo;
}

// desayuno almmuerzo y merienda
.titulo {
    margin-top: 70px;
    font-family: $cursiva;
}
.tituloComidas {
    margin:15px;
    font-family: $loraFont;
    text-transform: uppercase;
}
h4 {
    font-family: $itemFont;
}
span {
   margin-left: 150px; 
}
p {
    font-family: $loraFont;
}
ul {
    list-style: none;
}

// contacto
.box {
    background-color: gainsboro;
    width: fit-content;
    height: fit-content;
    padding:30px;
}
.tituloReservas {
    font-family: $cursiva;
}
.control {
    font-family: $itemFont;
    width: 300px;
    margin:15px;
    padding: 10px;
}
.normasCovid {
    margin:20px;
    text-align: center;
    font-family: $itemFont;
}
.listaCovid {
    text-transform: uppercase;
    font-family: $loraFont;
}
.listaCovid li {
    padding: 10px;
}
.checkbox {
    margin:20px;
    text-transform: uppercase;
    font-family: $loraFont;
}
.boton {
    width: 300px;
    margin:15px;
    padding: 10px;
}
.boton:hover {
    background-color: $rojo;
    color:white;
    border: $rojo;
    width: 350px;
    height: 50px;
}