@import "colores";
@import "fuentes";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /*font-family: 'Kaushan Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap'); /*font-family: 'Merriweather Sans', sans-serif;*/
*{margin:0; padding:0; box-sizing: border-box;}

/*css general*/
body {
    background-color: rgb(243, 241, 241);
}

// index
.listaBotonIndex {
    columns: 2;
    -webkit-columns: 2s;
    -moz-columns: 2;    
}
#botonIndex {
    background-color: $rojo;
    width: 120px;
}
#botonIndex a {
    color: white;
    text-decoration: none;
}
#botonIndex:hover {
    background-color: white;

} 
#botonIndex a:hover {
    color:$rojo;
}

