/*recetas*/
.boxA {
    background-color: $gris;
    width: 500px;
    height: 400px;
    padding:25px;
    margin-top:25px;
}
.boxA:hover {
    transform: scale(1.2,1.2);
    box-shadow: $box-shadow;
    border: 2px dashed $rojo;
    margin-bottom: 40px;
    margin-top: 60px;
}
.boxB {
    background-color: $gris;
    width: fit-content;
    height: fit-content;
    padding:10px;
    margin-top:20px;
    
}
.chef {
    &__img {
        display: block;
        margin: auto;
    }
    &__name {
        text-align: center;
        font-family: $chefName;
        color: $negro;
        &--text {
            font-family: $chefText;
            font-size:20px;
            width: 320px;
            height: 180px;
        }
    }
}
