@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*css general*/
body {
  background-color: #f3f1f1;
}

.tituloIndex {
  font-family: "Homemade Apple", cursive;
}

.listaBotonIndex {
  columns: 2;
  -webkit-columns: 2s;
  -moz-columns: 2;
}

#botonIndex {
  background-color: #D50000;
  width: 120px;
  margin: 10px;
}

#botonIndex a {
  color: white;
  text-decoration: none;
}

#botonIndex:hover {
  background-color: white;
}

#botonIndex a:hover {
  color: #D50000;
}

.titulo {
  margin-top: 70px;
  font-family: "Homemade Apple", cursive;
}

.tituloComidas {
  margin: 15px;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

h4 {
  font-family: "Bad Script", cursive;
}

p {
  font-family: "Lora", serif;
}

ul {
  list-style: none;
}

.box {
  background-color: gainsboro;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}

.tituloReservas {
  font-family: "Homemade Apple", cursive;
}

.control {
  font-family: "Bad Script", cursive;
  width: 300px;
  margin: 15px;
  padding: 10px;
}

.normasCovid {
  margin: 20px;
  text-align: center;
  font-family: "Bad Script", cursive;
}

.listaCovid {
  text-transform: uppercase;
  font-family: "Lora", serif;
}

.listaCovid li {
  padding: 10px;
}

.checkbox {
  margin: 20px;
  text-transform: uppercase;
  font-family: "Lora", serif;
}

.boton {
  width: 300px;
  margin: 15px;
  padding: 10px;
}

.boton:hover {
  background-color: #D50000;
  color: white;
  border: #D50000;
  width: 350px;
  height: 50px;
}

.boxA {
  background-color: gainsboro;
  width: 500px;
  height: 400px;
  padding: 25px;
}

.boxA:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 40px;
  margin-top: 40px;
}

#chefImg {
  display: block;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img1 img2 img3" "img4 img5 img9" "img6 img7 img8";
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
  }
  .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img2;
  }
  .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img3;
  }
  .img4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img4;
  }
  .img5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: img5;
  }
  .img6 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img6;
  }
  .img7 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: img7;
  }
  .img8 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: img8;
  }
  .img9 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img9;
  }
}

@media only screen and (max-width: 1023px) {
  .grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img1" "img2"  "img3" "img4" "img5" "img9" "img6" "img7" "img8";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
  }
  .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
  }
  .img2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img2;
  }
  .img3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img3;
  }
  .img4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: img4;
  }
  .img5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: img5;
  }
  .img6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: img6;
  }
  .img7 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: img7;
  }
  .img8 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: img8;
  }
  .img9 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: img9;
  }
}

#galeria:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*# sourceMappingURL=style.css.map */